<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Diagnostics.DiagnosticSource" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.1.0" newVersion="4.1.1.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <appSettings>
    <add key="instanceUrl" value="mstdn-workers.com" />
    <add key="clientID" value="cc33c5d5018dccbf14390584b86ff1dc4b606d5aff8eebe807ea7b02d21bcea7" />
    <add key="clientSecret" value="e604f1ddd1fafeff5b5f585607f4aecd5dd484808c04d3316ab4e92f2c263501" />

    <add key="loginID" value="mastodon@example.com" />
    <add key="loginPassword" value="password" />
    <add key="bouyomiPath" value="C:\app\BouyomiChan_0_1_11_0_Beta16\RemoteTalk\RemoteTalk.exe" />
  </appSettings>
</configuration>